@model ProjProd.Models.Discounts
@{
    ViewData["Title"] = "Редактировать купон";

}
   

<h4>Редактировать купон</h4>

<form asp-action="Edit" asp-controller="Discounts">
    <h4 style="display:none">
        @Html.EditorFor(model => model.Name_discount)
    </h4>
    <div style=" width:330px">
        <p>
            Значение скидки <br />
            @Html.EditorFor(model => model.Value_discount)
        </p>
        <p>
            Тип скидки <br />
            @Html.DropDownListFor(model => model.Type_DiscountID, ViewBag.Type_Discount as SelectList, new { @class = "form-control" })
        </p>
        <p>
            Количество купонов <br />
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @min = "1", @max = "999" } })
        </p>
        <p>
            Сколько дней купон будет действителен? <br />
            @Html.EditorFor(model => model.End_date)
        </p>
        <p>
            Примечание <br />
            @Html.EditorFor(model => model.Note)
        </p>
        <br />
    </div>
    <button asp-action="Edit" id="btnClick" class="btn btn-outline-success my-2 my-sm-0" type="submit">Сохранить</button>

</form>