@*@model ProjProd.Models.Discounts
    @{
        ViewData["Title"] = "Создать купон";

    }


    <h4>Создать купон</h4>

    <form asp-action="Index" asp-controller="Discounts">
        <div style=" width:330px">
            <p>
                Значение скидки <br />
                @Html.EditorFor(model => model.Value_discount)
            </p>
            <p>
                Тип скидки <br />
                @Html.DropDownListFor(model => model.type_id, ViewBag.Type_Discounts as SelectList, new { @class = "form-control" })
            </p>
            <p>
                Количество купонов <br />
                @Html.EditorFor(model => model.Quantity)
            </p>
            <p>
                Сколько дней купон будет действителен? <br />
                @Html.EditorFor(model => model.End_date)
            </p>
            <p>
                Примечание <br />
                @Html.EditorFor(model => model.Note)
            </p>
            <br />
        </div>
        <button asp-action="AddDiscount" id="btnClick" class="btn btn-outline-success my-2 my-sm-0" type="submit">Сохранить</button>
    </form>*@

@model IEnumerable<ProjProd.Models.Discounts>
@{
    ViewBag.Title = "Все купоны";
}

<h2>Все купоны</h2>
<p>
    @Html.ActionLink("Добавить купон", "Create")
</p>
<table>
    <tr>
        <th>Купон</th>
        <th>Значение</th>
        <th>Тип</th>
        <th>Количество</th>
        <th>Дата окончания</th>
        <th>Примечание</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name_discount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Value_discount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type_Discount.Name_type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Note)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.id_discount }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.id_discount })
    </td>
</tr>
    }
</table>